@charset "UTF-8";

  .menu_bar{
    position: fixed;
    top: 0;
    bottom: 81px;
    left: 0;
    z-index: 60;
    width: 250px;
    background-color: black;
  }
  
   h1{
   display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    z-index: 100;
    }
    
    
  .contents{
    position:absolute;
    float:right;
    text-align: center; 
    border-top: silver solid 1px; 
    display: inline-block; 
    left:200px;
    width: 80%;
    margin:100px;
    margin-left:50px;
    padding: 10px;
    
  }

  .list{
      width: 300px;
      height:5%;
      background-color: white; 
      display: inline-block; 
      font-size: 0.7rem;
      font-color:black;
      padding:10px;
      margin-bottom:10px;
   }
   
   .list img:hover{
      	-webkit-transform:scale(2.0);
     -moz-transform:scale(2.0);
     -ms-transform:scale(2.0);   
     -o-transform:scale(2.0);
     transform:scale(2.0);
      -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
     transition:.5s;
   }
  
  .genre_bar{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 90;
    height: 81px;
    background-color: rgba(25, 25, 25, 0.95);
  }
  
  