  .menu_bar{
    position: fixed;
    top: 0;
    z-index: 60;
    width: 100%;
    height:300px;
    background-color: rgba(25, 25, 25, 0.96);
  }
  
  .contents{
    
    float:left;
    text-align: center; 
    border-top: silver solid 1px; 
    display: inline-block; 
    width: 80%; 
    margin:100px;
    margin-left:50px; 
    padding: 100px;
    
  }

  .list{
      width: 300px;
      height:5%;
      background-color: white; 
      display: inline-block; 
      font-size: 0.7rem;
      font-color:black;
   }
  
  .genre_bar{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 90;
    height: 81px;
    background-color: rgba(25, 25, 25, 0.95);
  }